:root {
	--yellow: yellow;
  }
::placeholder { 
	color: #29185A;
	font-family: Roboto;
   }
body {
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
}

button, input,textarea {
	outline: none;
}
button {
	cursor: pointer;
}

.header-img {
	background: url("./img/Group8761.png") no-repeat center;
	z-index: 5;
}

.header {
 background: url("./img/header-bg.jpg") no-repeat center;
 height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

.header-nav {
	height: 10vh;
	background: #957DC3;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.header-nav a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.pink {
	color: #E62E99;
}


.header-text {
	text-align: center;
	padding: 0;
	line-height: 1.5em
}

.header-btn {
	margin-top: 70px;
}

.header-text h3 {
	color: #CAE0FF;
	font-size: 32px;
}

.header-text h1 {
	color: white;
	font-size: 50px;
}

.header-text h4, .header-text h2 {
	color: #FEB22A;
}

.header-text h4 {
	font-size: 50px;
}

.header-text h2 {
	font-size: 61px;
	line-height: 1px;
}

.header-text a {
	text-decoration: none;
	margin-top: 50px;
	color: white;
	font-size: 32px;
	font-weight: bold;
	font-family: Roboto;
	padding: 10px;
	background: #E62E99;
	border-radius: 15px;
}

.bottom-block {
	height: 12vh;
	background: black;
	display: flex;
	font-size: 18px;
	justify-content: space-around;
	align-items: center;
}

.bottom-text {
	display: flex;
	justify-content: space-evenly;
	color:white;
	gap: 15px;
}

.bottom-btn a{
	text-decoration: none;
	font-family: Roboto;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 15px;
	color: black;
	background: #FEB22A;
	padding: 15px;
	font-size: 22px;
}

.arrow {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.about-block, .startups-block {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.about-text {
	width: 40%;
}

.about-text h1, .startups-text h1 {
	color: #FEB22A;
	font-size: 50px;
}
.about-text h2, .about-text p, .startups-text h2, .startups-text p {
	color: #29185A;
}
.about-text h2, .startups-text h2 {
	font-size: 32px;
	line-height: 1em;
}
.startups-block {
	margin-left: 4%;
}
.startups-block h4 {
	font-weight: bold;
	color: #29185A;
}

.about-text p, .startups-text p {
	font-weight: 500;
	width: 75%;
}

.startups-text {
	display: flex;
	flex-direction: column;
}


.startup-btn {
	display: flex;
	justify-content: space-around;
	gap:20px;
}

.startup-btn button {
	border: none;
}

.startup-btn button {
	border-radius: 20%;
}

.startup-btn img {
border-radius: 20%;
}

.startup-btn-1 {
	border: 10px solid black;
	border-radius: 20%;
	padding: 0;
}

.startup-title h1 {
	color: #29185A;
}

.investers {
	background: linear-gradient(#4A2DA7,#22407A);
	padding-bottom: 100px;
}

.investers a {
	text-decoration: none;
	color:white;
	padding: 10px 20px;
	background: #E62E99;
	border-radius: 15px;
	font-size: 32px;
	font-weight: bold;
}

.investers-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}

.investers h1, .experts h1, .articles h1, .contact h1 {
	font-size: 50px;
	color: #FEB22A;
	font-weight: bold;
	margin-left: 5%;
}

.investers h3 {
	text-align: center;
	font-size: 32px;
	font-weight: bold;
	color: white;
	width: 75%;
}

.investers-block {
	display: flex;
	justify-content: space-around;
	gap:30px;
}

.investers-block__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: white;
	width: 414px;
	border-radius: 5%;
	padding-bottom: 50px;
	margin-top: 150px;
}

.investers-block__item img {
	border-radius: 20%;
	position: relative;
	bottom:20%;
}

.investers-block h2{
	text-transform: uppercase;
	color: #29185A;
	font-size: 32px;
	line-height: 0.8em;
}

.investers-block__item p {
	width: 75%;
	color: #29185A;
	font-weight: 400;
} 

.active p {
	width: 65%;
	text-align: left;
	font-weight: 500;
}

.experts-block {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.experts-block__item {
	background: #E5E5E5;
	color: white;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	padding: 0 50px;
	height: 296px;
	border-radius:35px;
}

.active {
	background: #29185A;
	justify-content: center;
	align-items: center;
	width: 590px;
	padding: 0;
	height: 520px;
}

.experts h2 {
	font-size: 50px;
}

.articles {
	margin-top: 15%;
}

.articles h2 {
	color: #29185A;
}

.articles-wrapper {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.articles button {
	border: none;
}

.articles-btn {
	font-family: Roboto;
	font-size: 32px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	gap:35px;
}

.articles-btn button {
	border-radius: 15px;
	padding: 7px 20px;
}

.articles-btn button:nth-child(1) {
	border:1px solid #29185A;
	color: #29185A;
	font-weight: bold;
}


.articles-btn button:nth-child(2) {
	background: #29185A;
	color: white;
	font-weight: bold;
}

.articles-slider {
	display: flex;
	justify-content: space-evenly;
}

.articles-slider p {
	font-weight: 500;
}

.articles-slider__text {
	display: flex;
	flex-direction: column;
	color: #29185A;
}

.articles-slider__text {
	text-align: center;
	width: 55%;
	padding-bottom: 100px;
}

footer {
	background: linear-gradient(#4A2DA7,#22407A);
}

.contact{
	padding-top: 30px;
}

.contact-form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.contact-block {
	display: flex;
	justify-content: space-around;
}

.contact-form input, textarea {
	border-radius: 15px;
	color: #29185A;
	font-family: Roboto;
	border: none;
	width: 35.5rem;
	padding-top: 10px;
	padding-left: 25px;
}

.contact-form input {
	height: 4rem;
}

.contact-form textarea {
	height: 10rem;
}

.contact-form button{
	color: white;
	background:#E62E99;
	padding: 15px 30px;
	font-family: Roboto;
	width: 35%;
	font-size: 32px;
	border-radius: 15px;
}

.contacts {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 10px;
	margin-right: 50px;
}

.contacts h4,.contacts p {
	font-family: Roboto;
	font-size: 32px;
}

.contacts h4 {
	color: #FEB22A;
	font-weight: bold;
	text-transform: uppercase;
}

.contacts p {
	color: white;
}
