@import "./scss/bootstrap.scss";

:root {
	--yellow: yellow;
  }
::placeholder { 
	color: #29185A;
	font-family: Roboto;
   }
body {
	font-family: 'Montserrat', sans-serif;
	background: gray;
	/* overflow-x: hidden; */
	transition: all ease 1s;
}

button, input,textarea {
	outline: none;

}
button {
	cursor: pointer;
	border: none;
	background: none;
}

.header-img {
	background: url("./img/Group8761.png") no-repeat center;
	z-index: 5;
}

.header {
 background: url("./img/header-bg.jpg") no-repeat center;
 height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

.header-nav {
	height: 10vh;
	background: #957DC3;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.burger {
	display: block;
	position:absolute;
	right: 0;
	top: 0;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 96px;
	height: 77px;
	font-size: 0;
	box-shadow: none;
	cursor: pointer;
	border:none;
	
}

.burger:focus {
	outline:none;
}

.burger span {
	display: block;
	position:absolute;
	top: 34px;
	left: 18px;
	right: 18px;
	height: 8px;
	background: #fff;
}

.burger span::before, .burger span::after {
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	height: 8px;
	background: #fff;
	content: "";
}

.burger span::before {
	top: -20px;
}

.burger span::after {
	bottom: -20px;
}

.burger {
	background: #000;
}

.burger-line span {
	transition: background 0s 0.3s;
}

.burger-line span::before, .burger-line span::after {
	transition-duration: 0.3s, 0.3s;
	transition-delay: 0.3s, 0s;
}

.burger-line span::before {
	transition-property: top, transform;
}

.burger-line span::after {
	transition-property: bottom, transform;
}

.burger-line.is-active {
	background: black;
}

.burger-line.is-active span{
	background: none;
}

.burger-line.is-active span::before{
	top:0;
	transform:rotate(-45deg);
}

.burger-line.is-active span::after{
	bottom:0;
	transform:rotate(45deg);
}

#menu {
	width: 300px;
	margin-left: -225px;
	background: #957DC3;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	transition: all ease 1s;
	z-index: 9999;
	display:none;
}

.container {
	width: 80%;
	min-width: 1000px;
	margin: 30px auto;
	text-align: center;
}

.body-active {
	margin-left: 300px;

}

#menu.nav-active {
	margin-left: 0;
}
.burger-line.is-active span::before, .burger-line.is-active span::after {
	transition-delay: 0s, 0.3s;
}


.header-nav a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.pink {
	color: #E62E99;
}


.header-text {
	text-align: center;
	padding: 0;
	line-height: 1.5em
}

.header-btn {
	margin-top: 70px;
}

.header-text h3 {
	color: #CAE0FF;
	font-size: 32px;
}

.header-text h1 {
	color: white;
	font-size: 50px;
}

.header-text h4, .header-text h2 {
	color: #FEB22A;
}

.header-text h4 {
	font-size: 50px;
}

.header-text h2 {
	font-size: 61px;
	line-height: 1px;
}

.header-text a {
	text-decoration: none;
	margin-top: 50px;
	color: white;
	font-size: 32px;
	font-weight: bold;
	font-family: Roboto;
	padding: 10px;
	background: #E62E99;
	border-radius: 15px;
}

.bottom-block {
	height: 12vh;
	background: black;
	display: flex;
	font-size: 18px;
	justify-content: space-around;
	align-items: center;
}

.bottom-text {
	display: flex;
	justify-content: space-evenly;
	color:white;
}
.bottom-text h1{
	padding-left: 15px;
}

.bottom-btn a{
	text-decoration: none;
	font-family: Roboto;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 15px;
	color: black;
	background: #FEB22A;
	padding: 15px;
	font-size: 22px;
}

.arrow {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.about-block, .startups-block {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.about-text {
	width: 40%;
}

.about-text h1, .startups-text h1 {
	color: #FEB22A;
	font-size: 50px;
}
.about-text h2, .about-text p, .startups-text h2, .startups-text p {
	color: #29185A;
}
.about-text h2, .startups-text h2 {
	font-size: 32px;
	line-height: 1em;
}
.startups-block {
	margin-left: 4%;
}
.startups-block h4 {
	font-weight: bold;
	color: #29185A;
}

.about-text p, .startups-text p {
	font-weight: 500;
	width: 75%;
}

.startups-text {
	display: flex;
	flex-direction: column;
}


.startup-btn {
	display: flex;
	align-items: center;
}

.startup-btn button {
	border: none;
}

.startup-btn button {
	border-radius: 20%;
}

.startup-btn img {
border-radius: 20%;
width: 120px;
height: 120px;
position: relative;
right: 6px;
bottom: 1px;
}

.startup-btn__item button{
	width: 120px;
	height: 120px;
}

.startup-btn-1 img  {
	border: 5px solid black;
	border-radius: 20%;
	padding: 0;
}


.startup-title h1 {
	color: #29185A;
}

.investers {
	background: linear-gradient(#4A2DA7,#22407A);
	padding-bottom: 100px;
	padding-top: 20px;
}

.investers a {
	text-decoration: none;
	color:white;
	padding: 10px 20px;
	background: #E62E99;
	border-radius: 15px;
	font-size: 32px;
	font-weight: bold;
}

.investers-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}

.investers h1, .experts h1, .articles h1, .contact h1 {
	font-size: 50px;
	color: #FEB22A;
	font-weight: bold;
	margin-left: 5%;
}

.investers h3 {
	text-align: center;
	font-size: 32px;
	font-weight: bold;
	color: white;
	width: 75%;
}

.investers-block > button {
	display:none;
}

.investers-block {
	display: flex;
	text-align: center;
}

.investers-block__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: white;
	width: 414px;
	border-radius: 5%;
	padding-bottom: 50px;
	margin-top: 150px;
	margin-left: 30px;
}

#investers-1 h2, #investers-2 h2, #investers-3 h2 {
	position: relative;
	bottom: 25px;
}

#expert-block-11 p, #expert-block-2 p, #expert-block-3 p {
	position: relative;
	left: 50px;
}

#expert-block-1 h2, #expert-block-3 h2 {
	position: relative;
	top: 80px;
}

#investers-1 p, #investers-2 p, #investers-3 p {
	padding-right: 30px;
	position: relative;
	left: 50px;
	bottom: 25px;
}

.investers-block__item img {
	border-radius: 20%;
	position: relative;
	bottom:20%;
}

.investers-block h2{
	text-transform: uppercase;
	color: #29185A;
	font-size: 32px;
	line-height: 0.8em;
}

.investers-block__item p {
	width: 75%;
	color: #29185A;
	font-weight: 400;
} 

.investers-right-btn {
	padding-right: 35px;
}

.active p {
	width: 65%;
	text-align: left;
	font-weight: 500;
}

.experts-block {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.experts-block__item {
	background: #E5E5E5;
	color: white;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	padding: 0 50px;
	height: 296px;
	border-radius:35px;
}

.active {
	background: #29185A;
	justify-content: center;
	align-items: center;
	width: 490px;
	height: 420px;
}

.experts h2 {
	font-size: 50px;
}

.articles {
	margin-top: 15%;
}

.articles h2 {
	color: #29185A;
}

.articles-wrapper {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.articles button {
	border: none;
}

.articles-btn {
	font-family: Roboto;
	font-size: 32px;
	font-weight: bold;
	display: flex;
	justify-content: center;
}

.articles-btn button {
	border-radius: 15px;
	padding: 7px 20px;
	margin-left: 25px;
}

.articles-btn button:nth-child(1) {
	border:1px solid #29185A;
	color: #29185A;
	font-weight: bold;
}


.articles-btn button:nth-child(2) {
	background: #29185A;
	color: white;
	font-weight: bold;
}

.articles-slider {
	display: flex;
	justify-content: space-evenly;
}

.articles-slider p {
	font-weight: 500;
}

.slider-invests {
	max-width: 80%;
	overflow: hidden;
	margin: 20px auto;
}

.articles-slider__text {
	display: flex;
	flex-direction: column;
	color: #29185A;
}

.slider {
	text-align: center;
}

.articles-slider__text {
	width: 55%;
	padding-bottom: 100px;
}

footer {
	background: linear-gradient(#4A2DA7,#22407A);
}

.contact{
	padding-top: 30px;
}

.contact-form {
	display: flex;
	flex-direction: column;
}

.contact-block {
	display: flex;
	justify-content: space-around;
	margin-left: 5%;
}

.contact-form input, textarea {
	border-radius: 15px;
	color: #29185A;
	font-family: Roboto;
	border: none;
	width: 35.5rem;
	padding-top: 10px;
	padding-left: 25px;
	margin-top: 20px;
}

.contact-img {
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact-form input {
	height: 4rem;
}

.contact-form textarea {
	height: 10rem;
}

.contact-form button{
	color: white;
	background:#E62E99;
	padding: 15px 30px;
	font-family: Roboto;
	width: 35%;
	font-size: 32px;
	border-radius: 15px;
	margin-top: 20px;
}

.contacts {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 50px;
}

.contacts h4,.contacts p {
	font-family: Roboto;
	font-size: 32px;
	margin-left: 10px;
}

.contacts h4 {
	color: #FEB22A;
	font-weight: bold;
	text-transform: uppercase;
}

.contacts p {
	color: white;
}

.slider {
	overflow: hidden;
	margin: 20 auto;
	max-width: 80%;
}

.slider-line {
	display: flex;
	justify-content: center;
	transition: all ease 1s;
}

@media (max-width:1366px) {

	.startups-text img:nth-child(1){
		width: 95%;
		height: auto;
	}

	.startup-btn__item {
		width: 55%;
	}

	.bottom-text h1 {
		font-size: 16px;
	}
	
	.investers-block__item img{
		width: 65%;
	}

	.investers-block__item {
		width: 365px;
	}

	.contact-img img{
		width: 75%;
	}

	.contact-form input, textarea {
		width: 25.5em;
	}
}

@media (max-width: 1180px) {
	.investers-block__item {
		width: 334px;
	}

	.experts h2 {
		font-size: 40px;
	}

	.experts-block__item {
		padding: 0 20px;
	}

	.active {
		width: 400px;
	}
}

@media (max-width: 1090px) {
	.investers-block__item {
		width: 290px;
		text-align: center;
		margin-left: 10px;
	}

	.investers-block__item img{
		bottom: 15%;
	}

	.investers-block__item h2 {
		font-size: 28px;
	}

	.investers-block__item p {
		font-size: 14px;
	}
	#investers-1 p, #investers-2 p, #investers-3 p {
		left: 40px;
	}
}
@media (max-width: 915px) {
	.nav__link {
		display: none;
	}
	#menu {
		display: block;
	}
	.header-nav {
		justify-content: center;
	}

	.bottom-text h1 {
		margin-right: 15px;
	}

	.bottom-btn a{
		font-size: 18px;
		padding: 15px;
	}

	.about-block {
		flex-direction: column;
		justify-content: center;
	}

	.slider-invests-line {
		flex-direction: column;
	}

	.header {
		padding-left: 50px;
	}

	.about-section, .investers h1, .experts h1, .articles h1, .contact h1 {
		padding-left: 80px;
	}
	.investers {
		padding-left: 50px;
	}

	.about-text {
		width: 75%;
	}
	.startups-block {
		flex-direction: column;
	}

	.startups-text h1, .investers h1{
		padding-left: 50px;
	}
	.startup-btn img, .startup-btn__item button {
		width: 100px;
		height: 100px;
	}

	.startups-img img, .about-img img{
		width: 80%;
	}
	#investers-1, #investers-2, #investers-3 {
		display: flex;
		align-items: center;
	}
	#investers-2, #investers-3 {
		display:none;
	}
	#expert-block-1, #expert-block-3 {
		display:none;
	}

	.investers-block {
		padding-left: 60px;
		align-items: center;
	}

	.investers-block__item {
		width: 350px;
		text-align: center;
	}

	.investers-block__item img {
		bottom:80px;
	}
	.investers-block > button {
		display:block;
	}

	.active {
		width: 300px;
		font-size: 14px;
	}

	.articles-slider {
		margin-left: 8%;
	}
	.experts-left-btn {
		padding-left: 80px;
	}
	.experts-block {
		justify-content: center;
	}

	.experts-left-btn {
		position: relative;
		right: 25px;
	}

	.experts-right-btn {
		position: relative;
		left: 25px;
	}

	.experts-block__item {
		padding: 0 50px;
	}

	.contact-form input, textarea {
		width: 20.5rem;
	}

	.contact-block {
		padding-left: 50px;
		flex-direction: column;
		align-items: center;
	}

	.contact-img {
		margin-top: 60px;
	}
}

@media (max-width: 800px) {
	.header-text h1 {
		color: white;
		font-size: 36px;
	}
	.experts-block__item {
		padding: 0 10px;
	}

	.bottom-text h1 {
		font-size: 13px;
	}

	.contacts h4, .contacts p{
		font-size: 26px;
	}
}

@media (max-width: 780px) {
	.slider-line p{
		font-size: 14px;
	}

	.articles-slider {
		padding-left: 20px;
	}

	.articles h2 {
		padding-left: 50px;
	}
	.articles-btn {
		padding-left: 80px;
	}
}

@media (max-width: 716px) {
	.header-text h1 {
		color: white;
		font-size: 32px;
	}

	.header-text {
		line-height: 2.8em;
	}
	.bottom-text {
		flex-direction: column;
	}

	.articles-subtitle {
		font-size: 40px;
	}

	.articles-subsubtitle {
		font-size: 20px;
	}
	
	.contacts h1, .contacts p {
		font-size: 18px;
	}
}

@media (max-width: 555px) {
	.header-text {
		padding-left: 50px;
	}
	
	.header-text h2 {
		font-size: 40px;
		line-height: 1px;
	}
	.bottom-block {
		flex-direction: column;
		justify-content: center;
		height: 20vh;
	}
	.bottom-text {
		padding-bottom: 15px;
	}

	.startup-btn img, .startup-btn__item button {
		width: 80px;
		height: 80px;
	}

	.investers a {
		font-size: 28px;
	}
	.investers-block__item {
		width: 250px;
	}
}